.pageWrap {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  align-content: center;
  padding-top: 5em;
  padding-bottom: 5em;
}

.userpageImages {
  grid-column: 2;
  background-color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.imageFrame {
  background-color: white;
}

.imageFrame img {
  height: 100%;
  max-height: 25em;
  max-width: 100%;
}
