.App {
  display: grid;
  min-height: 100vh;

  background-color: #fafafa;
  display: grid;
  grid-template-rows: 4em 1fr auto;
  font-family: "Arimo", sans-serif;
  color: #333333;
}

@media screen and (min-width: 1600px) {
  .App {
    grid-template-rows: 5em 1fr auto;
  }
}
