/* Header */

.containerHeader {
  display: grid;
  align-content: center;
  align-items: center;
  background-color: white;
  font-weight: bold;
  width: 100%;
  border: solid #dbdbdb 1px;
  grid-template-columns: auto 1fr 1fr;
  border-bottom: 0;
}

.containerHeader img {
  border-radius: 12px;
  height: 1.6em;
  width: 1.6em;
  align-self: center;
  margin-left: 0.8em;
}

/* Functions */

.functionsWrapper {
  width: 100%;
  background-color: white;
  border: solid #dbdbdb 1px;
  display: grid;
  border-top: 0px;
  grid-template-columns: auto auto;
  justify-items: start;
  align-content: center;
  align-items: center;
}

.functionsWrapperInner {
  background-color: white;
  padding: 4px;
  padding-left: 8px;
  margin-top: 2px;
  font-size: 1.7em;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: 5px;
  align-content: center;
  align-items: center;
}

.likesCounter {
  font-size: 1.1em;
  justify-self: end;
  justify-content: end;
  grid-column: 3;
  margin-right: 8;
  align-self: center;
}

/* Comments */

li {
  margin-top: 0px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 5px;
}

.timeStamp {
  font-size: 0.8em;

  color: #8e8e8e;
}

.commentsWrap {
  display: grid;
  background-color: white;

  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 0px;
}

.commentArea {
  border: solid #dbdbdb 1px;
  width: 100%;
}

.commentAreaFullPage {
  display: grid;
  grid-template-rows: 1fr 3em;
  overflow-y: scroll;
}

.listItems {
  word-wrap: break-word;
  width: 18em;
}

.userProfileImg {
  border-radius: 50%;
  height: 1.6em;
  width: 1.6em;
  grid-row: 1/3;
  align-self: start;
  margin-right: 10px;
}

.deleteMenu {
  position: absolute;
  display: grid;
  height: 1.5em;
  width: 4em;
  height: 2em;
  font-weight: bold;

  background-color: white;
  bottom: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
  background-color: #272528;
  color: white;
  padding: 1px;
}

.deleteMenu:hover {
  background-color: white;
  color: #272528;
}
