.homeWrap {
  background-color: #fafafa;
  grid-column: 2;
  width: 40em;
  height: 20em;
  justify-self: center;
  align-self: center;
  display: grid;
}

.homeForm {
  background-color: white;

  display: grid;
  justify-content: center;
  align-content: center;
}

.homeForm button {
  width: 60px;
  height: 30px;
}

.imageContainerHome {
  border: solid #dbdbdb 1px;

  display: grid;
  justify-items: center;
  grid-template-rows: auto 3em 2em;
  grid-template-columns: 1fr;
}
.imageContainerHome img {
  height: auto;
  width: 30em;
}

.commentBox {
  width: 100%;
  border: solid #dbdbdb 1px;
}

.addCommentBox {
  width: 100%;
}
