a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

a:hover,
i:hover {
  cursor: pointer;
}

.userLink:hover {
  text-decoration: underline;
}

.homeWrap {
  justify-self: center;
  align-self: center;
  display: grid;
  grid-row: 2;
  padding-top: 3em;
  padding-bottom: 3em;
}

.homeImages {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 3em;

  background-color: #fafafa;
}

.homeImages button {
  width: 60px;
  height: 30px;
}

.imageContainerHome {
  display: grid;
  justify-items: center;
  grid-template-rows: 4em auto auto auto;
  grid-template-columns: 1fr;
  background-color: black;
  min-width: 40em;
  transition: all ease-in-out 10s;
}

.imageContainerHome img {
  height: 40em;
  width: auto;
}

.submitWrap {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  grid-row: 2;
  border-top: solid #dbdbdb 1px;
}

.submitWrap button {
  border: none;
  color: #0095f6;
  background-color: white;
  justify-self: end;
  padding-right: 15px;
  font-weight: bold;
}
.submitWrap button:hover {
  cursor: pointer;
}

.submitWrap input[type="text"] {
  border: none;
  outline: none;
  width: 100%;
  padding-left: 10px;
}

.submitWrap input[type="text"]:active {
  border: none;
  outline: none;
}

.commentAuthor {
  font-weight: bold;
}

.imageFullDisplay {
  display: grid;
  justify-self: center;
  grid-row: 2;
  align-self: center;
  grid-template-columns: auto 25em;
  background-color: white;
}

.imageContainer {
  display: grid;
  align-content: center;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.imageContainer img {
  height: 40em;
  width: auto;
}

.socialArea {
  grid-column: 2;
  display: grid;
  grid-template-rows: 4em 1fr auto auto;
  height: 40em;
}

.commentsOuter::-webkit-scrollbar {
  display: none; /* Safari and Chrome browsers */
}

.commentsOuter {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* mozilla */
}

.displayImage {
  border-radius: 50%;
  height: 1.6em;
  width: 1.6em;
  grid-row: 1/3;
  align-self: end;
  margin-right: 10px;
}
