.loginWrap {
  background-color: #fafafa;

  width: 40em;
  height: 20em;
  justify-self: center;
  align-self: center;
  display: grid;
}

.loginForm {
  background-color: white;
  border: solid 2px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.loginForm button {
  width: 60px;
  height: 30px;
}
