.loginWrap {
  background-color: #fafafa;
  width: 40em;
  justify-self: center;
  display: grid;
  grid-row: 2;
}

.loginForm {
  background-color: white;

  display: grid;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-left: solid #dbdbdb 1px;
  border-right: solid #dbdbdb 1px;
  border-top: solid #dbdbdb 1px;
}

.signupHeader {
  align-self: center;
  justify-self: center;
  width: 60;
  height: 60;
  display: grid;
  grid-gap: 0.8em;
  margin-bottom: 6em;
}

.signupHeader img {
  width: 60px;
  height: 60px;
  justify-self: center;
}

.signupHeader p {
  font-weight: bolder;
  font-size: 1.5em;
  justify-self: center;
  margin-top: 4px;
  margin-bottom: 4px;
}

.loginWrap button {
  height: 2em;
  outline: none;
  border: none;
  justify-self: center;
  width: 100%;
  background-color: #272528;
  color: white;
  border-radius: 6px;
  font-weight: bold;
  transition: all 0.09s ease-in-out;
}

.loginWrap button:hover {
  cursor: pointer;
  background-color: white;
  color: #272528;
  outline: solid 2px #272528;
}
.loginWrap input[type="text"] {
  border: none;
  outline: none;
  height: 1.5em;

  padding-left: 10px;
  border: solid #dbdbdb 1px;
}

input[type="text"]:active {
}

.loginButtonAndInfo {
  justify-self: center;
  align-self: start;
  display: grid;
}

.loginButtonAndInfo p {
  font-size: 1em;
}

.loginButtonAndInfo button {
  width: auto;

  margin-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
}
